# Database
DB_USER=pkwl_user
DB_PASSWORD=pkwl_secret_2024
DB_NAME=pkwl_property

# JWT
JWT_SECRET=pkwl-jwt-super-secret-key-change-in-production

# Backend
GIN_MODE=debug
PORT=8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
